@{
    ViewData["Title"] = "Details-Exclusive-Service";
}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lagoona</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <style type="text/css">
        A {
            color: #cc9933; /* Цвет ссылок */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="section-title section-title">Эксклюзивное обслуживание</h1>
    </div>
    <p class="aboutus-descr">
        В наших отелях учитывается любое пожелание клиента. Ведь счастлив клиент - счастливы и мы.
        <br><br />
        С целью улучшить пребывание клиентов разных национальностей наш отель придумал особую систему специальных предложений:
    </p>
    <ul class="aboutus-descr">
        <li>
            Первым пунктом является возможность выбрать из меню ресторана индивидуальные позиции для своей трапезы. Мы учтём все Ваши пожелания,  у нас есть меню как для заядлых мясоедов, так и для вегетарианцев, для любителей острой кухни и для тех кто держит пост.<br><br />
        </li>
    </ul>
    <div class="specials">
        <div class="special-items-1">
            <article class="service-exclusive-1">
            </article>
        </div>
        <div class="special-items-1">
            <article class="service-exclusive-2 item-right">
            </article>
        </div>
    </div>
    <br>
    <br />
    <ul class="aboutus-descr">
        <li>
            Вторым пунктом является Ваш комфорт. Каждый из наших клиентов может выбрать номер себе по душе, и это не заканчивается выбором вида из окна, всё гораздо глубже! Клиент может выбрать всё, начиная с количества комнат, балконов, заканчивая стилем и цветовым оформлением номера. У нас есть номера в Японском, Китайском, Скандинавском, Итальянском и многих других стилях, именно для того чтобы каждый из Вас ощущал себя как дома!
            <br><br />
        </li>
    </ul>
    <div class="specials">
        <div class="special-items-1">
            <article class="service-exclusive-3">
            </article>
        </div>
        <div class="special-items-1">
            <article class="service-exclusive-4 item-right">
            </article>
        </div>
    </div>
    <div class="specials">
        <div class="special-items-1">
            <article class="service-exclusive-5">
            </article>
        </div>
        <div class="special-items-1">
            <article class="service-exclusive-6 item-right">
            </article>
        </div>
    </div>
    <br>
    <br />
    <ul class="aboutus-descr">
        <li>
            Третьим пунктом являются особенности досуга наших клиентов, в наших отелях по запросу каждый из постояльцев может запросить себе:
            <br>
            - ортопедическую подушку или матрас;
            <br>
            - увлажнитель воздуха;
            <br>
            - одеяло с подогревом;
            <br>
            - бактерицидный рециркулятор;
            <br>
            - живые цветы;
            <br>
            - предоставление завтраков в номер.
            <br><br />
        </li>
    </ul>
    <div class="specials">
        <div class="special-items-1">
            <article class="service-exclusive-7">
            </article>
        </div>
        <div class="special-items-1">
            <article class="service-exclusive-8 item-right">
            </article>
        </div>
    </div>
    <br>
    <br />
    <div class="container">
        <p class="aboutus-descr">
            *Если вас заинтересовало данное спецпредложение, оставьте <a asp-controller="Feedback" asp-action="Create">заявку</a> на сайте и мы Вам перезвоним!
        </p>
    </div>
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline">На главную</a>
    </div>
</body>
