@{
    ViewData["Title"] = "Details-Parking";
}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lagoona</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <style type="text/css">
        A {
            color: #cc9933; /* Цвет ссылок */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="section-title section-title">Охраняемые автомобильные стоянки</h1>
    </div>
    <div class="specials">
        <div class="special-items-1">
            <article class="service-parking-1">
            </article>
        </div>
        <div class="special-items-1">
            <article class="service-parking-2 item-right">
            </article>
        </div>
        
    </div>
    <ul class="aboutus-descr">
        <li>
            Охраняемые автостоянки распространены довольно широко по всему миру и играют важную роль для сохранности автомобилей. В наших отелях автомобили находятся под охраной 24 часа и их сложнее повредить, угнать или причинить иной вред. Сеть отелей Lagoona вкладывает большой смысл в комфорт своих клиентов и сохранность их имущества.
            <br><br />
        </li>
    </ul>
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline">На главную</a>
    </div>
</body>
