@{
    ViewData["Title"] = "Details-Rent";
}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lagoona</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <style type="text/css">
        A {
            color: #cc9933; /* Цвет ссылок */
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="section-title section-title">Аренда банкетных залов</h1>
    </div>
    <div class="specials">
        <div class="special-items-1">
            <article class="service-rent-1">
            </article>
        </div>
        <div class="special-items-1">
            <article class="service-rent-2 item-right">
            </article>
        </div>
    </div>
    <div class="specials">
        <div class="special-items-1">
            <article class="service-rent-3">
            </article>
        </div>
        <div class="special-items-1">
            <article class="service-rent-4 item-right">
            </article>
        </div>
    </div>
    <ul class="aboutus-descr">
        <li>
            Банкетный зал – это помещение, имеющее специальную планировку и интерьер, для мероприятий с большим количеством гостей. Наши банкетные залы подойдут для любого повода, свадеб, дней рождения, корпоративов и многих других мероприятий. <br><br />
        </li>
        <li>
            Вместе с нашим шеф-поваром мы подготовим специальное меню. Вкусная еда будет приготовлена с учетом каждого пожелания. Все идеально: красивые блюда, пирамиды из шампанского, разнообразие закусок и безупречно украшенные столы. <br><br />
        </li>
        <li>
            Ваше торжество будет наполнено только самыми настоящими и запоминающимися моментами. Гости не заскучают ни на минуту. Тщательно продуманная развлекательная программа не оставит равнодушным ни одного из приглашенных гостей. Все будет именно так, как вы желаете: живая музыка, много танцев, яркие поздравления и сюрпризы.
            <br />
        </li>
    </ul>

    <div class="container">
        <h1 class="section-title section-title">5 причин провести свадьбу в банкетном зале сети отелей Lagoona:</h1>
    </div>
    <ul class="aboutus-descr">
        <li>
            Меню с редкими продуктами.
        </li>
        <li>
            Опыт, который мы собирали в течение многих лет.
        </li>
        <li>
            Декор: от проработки концепции до воплощения в жизнь.
        </li>
        <li>
            Программа для любой тематической свадьбы и развлекательного мероприятия.
        </li>
        <li>
            Полное сопровождение всего праздника.
            <br><br />
        </li>
    </ul>
    <div class="container">
        <p class="aboutus-descr">
            *Хотите узнать больше информации о номерах, оставьте <a asp-controller="Feedback" asp-action="Create">заявку</a> на сайте и мы Вам перезвоним!
        </p>
    </div>
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline">На главную</a>
    </div>
</body>