<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lagoona</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel=" stylesheet" href="~/css/feedback.css" />
</head>

<body>
    <h2 class="section-title aboutus-title text-center">
        Ваш запрос отправлен!<br> В скором времени мы свяжемся с Вами!
    </h2>
    <div class="row" style="display: flex; align-items: center; justify-content: center;">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline">На главную</a>
    </div>
</body>



