@{
    ViewData["Title"] = "Details-Crete";
}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lagoona</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <style type="text/css">
        A {
            color: #cc9933; /* Цвет ссылок */
        }
    </style>
</head>

<body>
    <header class="header">
        <div>
            <div class="header-bg">
                <nav class="header-nav">
                    <ul class="header-list list-reset">
                        <li class="header-list-item">
                            <a href="#aboutus" class="header-link link-transition"> О курорте</a>
                        </li>
                        <li class="header-list-item">
                            <a href="#services" class="header-link link-transition"> Питание</a>
                        </li>
                        <li class="header-list-item">
                            <a href="#benefits" class="header-link link-transition"> Развлечения </a>
                        </li>
                    </ul>
                    <div class="header-button-details">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline" style="margin-left: 100px;">Вернуться на главную</a>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <h1 class="section-title section-title">Остров Крит</h1>
    </div>
    <div class="specials">
        <div class="special-items-1">
            <article class="special-crete-1">
            </article>
            <article class="special-crete-2">
            </article>
        </div>
        <div class="special-items-1">
            <article class="special-crete-3 item-right">
            </article>
        </div>
        <div class="special-items-1">
            <article class="special-crete-4">
            </article>
            <article class="special-crete-5">
            </article>
        </div>
    </div>
    <section id="aboutus">
        <div class="container">
            <h2 class="section-title aboutus-title">
                О курорте
            </h2>
            <ul class="aboutus-descr">
                <li>
                    Прекрасный остров Крит – это мечта для многих путешественников, ведь здесь как нигде в мире сочетаются восхитительное лазурное море, завораживающие горные пейзажи, античные города с уходящей в глубь тысячелетий историей, уникальные музейные комплексы, впечатляющие ущелья, известные еще по древнегреческим мифам, комфортный климат, превосходные побережья и отели, отвечающие самым высоким стандартам, отличная средиземноморская кухня, колоритные традиции и южное гостеприимство. Крит – крупнейший остров Греции с площадью более 8000 кв. км и самой длинной береговой линией, которая растянулась на более 1000 км восхитительных побережий.
                    <br><br />
                </li>
                <li>
                    На Крите умеренный климат. Осадки выпадают очень редко в течение летних месяцев. Осенью температура часто выше, чем весной. Зимы на Крите характеризуются довольно мягким климатом. Снег практически не выпадает на равнинах, однако довольно часто встречается в горах. Идеальные месяцы для пеших прогулок, походов и других активностей на Крите – апрель, май и июнь, а также сентябрь и октябрь. Теплая погода обеспечивает идеальные условия для морских купаний, начиная с апреля месяца, однако в это же время в горах могут идти дожди. Лето на Крите жаркое, температура воздуха/воды достигает отметок +25-29/+20-22 в мае, +29-31/+24-26 в июне, +32-36/+26-28 в июле и августе, +28- 30/+24-25 в сентябре и октябре. Климат Крита идеально подходит для пляжного отдыха, а также для экскурсий
                    <br><br />
                </li>
            </ul>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <h2 class="section-title aboutus-title">
                Питание
            </h2>
            <ul class="aboutus-descr">
                <li>
                    В нашем отеле предусмотрено питание из различных стран мира. Широкий ассортимент самых разных блюд, эстетически оформленных, не только красиво выглядит, но и вызывает непреодолимое желание всё это попробовать.
                    Такая форма питания, как «шведский стол», уже с самого первого посещения столовой позволит любому нашему гостю выбирать блюда по своему собственному усмотрению, с учётом возможностей аппетита и личных вкусовых предпочтений. «Шведский стол» – это не только выбор блюд, но и возможность формирования порций в нужном количестве, исходя из настроения и пожеланий. Здесь вы никогда не останетесь голодны.
                    <br><br />
                </li>
            </ul>
        </div>
        <div class="specials">
            <div class="special-items-1">
                <article class="special-crete-food-1">
                </article>
            </div>
            <div class="special-items-1">
                <article class="special-crete-food-2">
                </article>
            </div>
            <div class="special-items-1">
                <article class="special-crete-food-3">
                </article>
            </div>
        </div>
    </section>

    <section id="benefits">
        <div class="container">
            <h2 class="section-title aboutus-title">
                Развлечения
            </h2>
            <ul class="aboutus-h">
                <li>
                    Парк Динозавров
                </li>
            </ul>
            <p class="aboutus-descr">
                Парк состоит из нескольких частей. Первая — музей, где выставлены скелеты динозавров (не настоящие, само собой) и ископаемые ракушки. Главная зона «Динозаврии» — собственно, сам парк с выполненными в натуральную величину моделями ящеров: тинтаозавра, велоцираптора, карнотавра, игуанодона и, конечно, зловещего тиранозавра. Также здесь можно посетить «диногоспиталь», где показано, как люди выхаживают «заболевших» динозавров и как из яиц появляются маленькие ящеры.
                <br><br />
            </p>
            <div class="specials">
                <div class="special-items-1">
                    <article class="special-crete-dino-1">
                    </article>
                </div>
                <div class="special-items-1">
                    <article class="special-crete-dino-2">
                    </article>
                </div>
            </div>
            <ul class="aboutus-h">
                <li>
                    Парк водных развлечений Watercity
                </li>
            </ul>
            <p class="aboutus-descr">
                Даже ребятам, которых не удивить развлечениями на воде, понравится центр отдыха Watercity. Он расположен всего в 15 км от столицы Крита Ираклиона, а занимает площадь 8 гектаров.Водные горки от самых простеньких и пологих для малышей до крутых для отчаянных подростков. Здесь можно скатиться по Камикадзе или Sidewinder-Boomerango (полусфере с изгибами и поворотами).Те подростки, которые не слишком уверены в собственных силах, прокатятся на Body Slide Cyclone. Этот аттракцион сначала прокатывает человека по трубе, а затем выбрасывает в воронку, где скорость немного гасится. А Black & Red Tube состоит из 2 частей: красной и черной труб с неожиданными изгибами и поворотами. Сплавляться можно как одному, так и в компании с другом, соревнуясь на время спуска.А малышам понравится неглубокий бассейн с настоящими морскими волнами или пологий водопад. Интересен спуск на надувных плотиках по Ленивой реке.Для тех, кто устал от игр на воде, работают детские городки. Здесь можно полазить по лесенкам или полепить куличике в чистом песочке. А родители посидят рядом под теневыми навесами. Перекусить центр предлагает в Фуд-корте. Здесь 6 баров и несколько кафе, которые предлагают блюда европейской и средиземноморской кухонь. В точках питания и детское меню. А приобрести сувениры можно в маленьких магазинчиках на территории парка.
                <br><br />
            </p>
            <div class="specials">
                <div class="special-items-1">
                    <article class="special-crete-waterpark-1">
                    </article>
                </div>
                <div class="special-items-1">
                    <article class="special-crete-waterpark-2">
                    </article>
                </div>
            </div>
            <ul class="aboutus-h">
                <li>
                    Морской аквариум Крита
                </li>
            </ul>
            <p class="aboutus-descr">
                Критский аквариум — крупнейший морской аквариум на острове Крит и во всей Греции, открывшийся в конце 2005-го года на территории бывшей военной базы между курортами Като Гувес (Kato Gouves) и Коккини Хани (Kokkini Hani).Большие залы, почти четыре десятка резервуаров разного размера и тысячи обитателей Средиземноморья: небольшие аквариумы с медузами (это настоящий космос!) или морскими коньками, большие ёмкости с шикарно воссозданными и оттого очень реалистичными морскими пейзажами и ландшафтами. Здесь яркие мелкие рыбёшки, тут осьминог прячется в камнях, напротив — омары, в соседнем резервуаре ленты огромных мурен, чуть дальше — опасные акулы. Красивые, страшные, странные, интересные, яркие, бесцветные, сонные, агрессивные — перечислить всё и всех в состоянии только работники аквариума, но любой и каждый отдельный аквариум притягивает к себе взгляд.
                <br><br />
            </p>
            <div class="specials">
                <div class="special-items-1">
                    <article class="special-crete-aqua-1">
                    </article>
                </div>
                <div class="special-items-1">
                    <article class="special-crete-aqua-2">
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p class="aboutus-descr">
            *Если вас заинтересовало данное спецпредложение, оставьте <a asp-controller="Feedback" asp-action="Create">заявку</a> на сайте и мы Вам перезвоним!
        </p>
    </div>
</body>
<body>
    
</body>