@{
    ViewData["Title"] = "Details-Maldives";
}

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lagoona</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <style type="text/css">
        A {
            color: #cc9933; /* Цвет ссылок */
        }
    </style>
</head>

<body>
    <header class="header">
        <div>
            <div class="header-bg">
                <nav class="header-nav">
                    <ul class="header-list list-reset">
                        <li class="header-list-item">
                            <a href="#aboutus" class="header-link link-transition"> О курорте</a>
                        </li>
                        <li class="header-list-item">
                            <a href="#services" class="header-link link-transition"> Питание</a>
                        </li>
                        <li class="header-list-item">
                            <a href="#benefits" class="header-link link-transition"> Развлечения </a>
                        </li>
                    </ul>
                    <div class="header-button-details">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-outline" style="margin-left: 100px;">Вернуться на главную</a>
                    </div>  
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <h1 class="section-title section-title">Мальдивские острова</h1>
    </div>
    <div class="specials">
        <div class="special-items-1">
            <article class="special-maldives-1">
            </article>
            <article class="special-maldives-2">
            </article>
        </div>
        <div class="special-items-1">
            <article class="special-maldives-3 item-right">
            </article>
        </div>
        <div class="special-items-1">
            <article class="special-maldives-4">
            </article>
            <article class="special-maldives-5">
            </article>
        </div>
    </div>
    <section id="aboutus">
        <div class="container">
            <h2 class="section-title aboutus-title">
                О курорте
            </h2>
            <ul class="aboutus-descr">
                <li>
                    Мальдивские острова считаются самым романтическим местом на земле, они будто созданы для влюбленных. Острова протянулись узкой вертикальной цепочкой длиной 850 километров поперек Индийского океана. Из иллюминатора самолета Мальдивы выгялядят как нить жемчужин, брошенная на бирюзовую гладь океана.
                    <br><br />
                </li>
                <li>
                    Многие считают, что Мальдивские острова - это отдых исключительно для тех, кто предпочитает целыми днями загорать на пляже под лучами яркого солнца и просто отдыхать, никуда не торопясь, полностью окунувшись в расслабляющую негу этого райского уголка. Спорить с этим мнением просто невозможно - покой, уединение, тишина и романтика Мальдивских островов, которая витает в воздухе повсеместно - Вам гарантированы.
                    <br><br />
                </li>
                <li>
                    Но согласиться только с таким мнением тоже было бы неверно. Ведь Мальдивы - это не только спокойный отдых, белоснежные пляжи и лазурные, бирюзовые, синие, голубые воды океана, это еще и место, где можно заняться тем, чем в нашей обычной жизни вряд ли удастся.
                    <br><br />
                </li>
                <li>
                    Отдых на Мальдивах - это праздник для души и тела, наслаждайтесь ими во всей полноте, берите все, что предлагает Вам этот воистину райский уголок, наполните свои воспоминания необычайными впечатлениями и новыми открытиями.
                </li>
            </ul>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <h2 class="section-title aboutus-title">
                Питание
            </h2>
            <ul class="aboutus-descr">
                <li>
                    В нашем отеле предусмотрено питание из различных стран мира. Широкий ассортимент самых разных блюд, эстетически оформленных, не только красиво выглядит, но и вызывает непреодолимое желание всё это попробовать.
                    Такая форма питания, как «шведский стол», уже с самого первого посещения столовой позволит любому нашему гостю выбирать блюда по своему собственному усмотрению, с учётом возможностей аппетита и личных вкусовых предпочтений. «Шведский стол» – это не только выбор блюд, но и возможность формирования порций в нужном количестве, исходя из настроения и пожеланий. Здесь вы никогда не останетесь голодны.
                    <br><br />
                </li>
            </ul>
        </div>
        <div class="specials">
            <div class="special-items-1">
                <article class="special-food-1">
                </article>
            </div>
            <div class="special-items-1">
                <article class="special-food-2">
                </article>
            </div>
            <div class="special-items-1">
                <article class="special-food-3">
                </article>
            </div>
        </div>
    </section>
    
    <section id="benefits">
        <div class="container">
            <h2 class="section-title aboutus-title">
                Развлечения
            </h2>
            <ul class="aboutus-h">
                <li>
                    Снорклинг
                </li>
            </ul>
            <p class="aboutus-descr">
                Даже самые неопытные туристы легко освоятся с маской и трубкой и смогут получить огромное удовольствие от подводного царства Мальдив. Для этого ничего не нужно: достаточно погрузиться в океан возле своей виллы, чтобы повстречать экзотических рыб.
                <br><br />
            </p>
            <div class="specials">
                <div class="special-items-1">
                    <article class="special-snorkling-1">
                    </article>
                </div>
                <div class="special-items-1">
                    <article class="special-snorkling-2">
                    </article>
                </div>
            </div>
            <ul class="aboutus-h">
                <li>
                    Сёрфинг
                </li>
            </ul>
            <p class="aboutus-descr">
                Летом на Мальдивские острова съезжаются любители покататься на доске. А все потому, что приходят ветра и волны, которые способствуют занятию серфингом. На Мальдивах ежегодно проходят соревнования серфингистов. Ветреная погода чаще всего встречается с марта по ноябрь. Можно купить сафари-круиз на яхте или же поселиться на острове, который находится неподалеку от бушующих волн.
                <br><br />
            </p>
            <div class="specials">
                <div class="special-items-1">
                    <article class="special-surfing-1">
                    </article>
                </div>
                <div class="special-items-1">
                    <article class="special-surfing-2">
                    </article>
                </div>
            </div>
            <ul class="aboutus-h">
                <li>
                    Рыбалка на Мальдивах
                </li>
            </ul>
            <p class="aboutus-descr">
                Сердце любого рыбака дрогнет перед мыслью о рыбалке в Индийском океане. Он богат уловом и может удивить экзотическими рыбками. А по окончанию рыбалки вам приготовят улов на ужин. Рыбалка - популярное развлечение на Мальдивах. Она может быть с берега, с лодки. Популярна глубоководная рыбалка, для которой нужно арендовать судно для ловли крупных хищников. Можно ловить рыбу на спиннинг, отъехав на внешнюю сторону рифа. Лучше всего для рыбалки подходит ноябрь-март. Однако есть правила рыбалки: например, нельзя рыбачить возле кораллов или в прибрежной зоне. Запрещено использовать снасти, которые могут повредить рыб. Нельзя вылавливать дельфинов и китовых акул.
                <br><br />
            </p>
            <div class="specials">
                <div class="special-items-1">
                    <article class="special-fishing-1">
                    </article>
                </div>
                <div class="special-items-1">
                    <article class="special-fishing-2">
                    </article>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <p class="aboutus-descr">
            *Если вас заинтересовало данное спецпредложение, оставьте <a asp-controller="Feedback" asp-action="Create">заявку</a> на сайте и мы Вам перезвоним!
        </p>
    </div>
</body>
